body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #04202a !important;
}


.nav-link {
  color: #b09b7f !important;
  padding: 0 35px !important;
  font-size: 11px !important;
  line-height: 24px;
  letter-spacing: 1.1px;
}

.nav-link:hover {
  color: white !important;
}

.interface1 .t1 {
  color: #b09b7f;
  font-family: 'Prata', sans-serif;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: -1.5px;
  vertical-align: baseline;
}

.interface1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.interface1 .t2 span {
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Prata', sans-serif;

}

.interface1 .t2 {
  color: #b09b7f;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Prata', sans-serif;
}

.item_introtext {
  margin-top: 83px;
  text-transform: uppercase;
}

.btn {
  color: #b09b7f !important;
  border: 2px solid #b09b7f !important;
  padding: 15px 30px !important;
  font-size: 14px !important;
  margin-left: 10px;
  margin-right: 10px;
  background: none !important;
}

.btn:hover {
  border: 2px solid white !important;
  color: white !important;
}

#feature {
  padding-top: 180px;
  padding-bottom: 100px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1300px;
}

.container::before {
  content: "";
  display: table;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::before {
  content: "";
  display: table;
}

h3.heading-style-3::after {
  content: "";
  width: 100px;
  height: 2px;
  display: inline-block;
  background-color: rgba(176, 155, 127, 0.3);
  margin-left: 30px;
  bottom: 12px;
  position: relative;
}

.mod-newsflash-adv__room_collection2 {
  padding-top: 50px;
}

.item_mudule.item.visible-fisrt,
.item.visible-fisrt {
  opacity: 100%;
}

.item_content {
 
  position: relative;
  margin-bottom: 0;
  
}

.item_content h5 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.desc {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #acb4b7;
}
.desc2{
  letter-spacing: 0em;
  padding-right:700px;
  padding-top: 20px;
  line-height: 26px;
  padding-bottom: 48px;
}
.btn.btn-info{
  padding: 15px 40px;
}
.imgright{
  position: absolute;
  right: 270px;
  top: 1290px;
}
.item_contentleft{
  position: relative;
  left: 0px;
  right: 20px !important;
  bottom: 300px;
}
.title1 .title11{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}
#maintop{
  padding-top: 50px;
padding-bottom: 160px;
}
.mod-newsflash-adv.mod-newsflash-adv__home_services1 .row .item {
  position: relative;
  margin-bottom: 100px;
}
@media only screen and (max-width: 996px){
    .item_content{
      position: relative;
      right: 100px;
    }
}
/* .desc2 {
  padding-top: 20px;
  margin: 0px;
  padding: 0 0 48px ;
  padding-right: 500px;
  font-weight: 300;
} */

/*# sourceMappingURL=style.css.map */