body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #04202a !important;
}


.nav-link {
  color: #b09b7f !important;
  padding: 0 35px !important;
  font-size: 11px !important;
  line-height: 24px;
  letter-spacing: 1.1px;
}

.nav-link:hover {
  color: white !important;
}

.interface1 .t1 {
  color: #b09b7f;
  font-family: 'Prata', sans-serif;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: -1.5px;
  vertical-align: baseline;
}

.interface1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.interface1 .t2 span {
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Prata', sans-serif;

}

.interface1 .t2 {
  color: #b09b7f;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Prata', sans-serif;
}

.item_introtext {
  margin-top: 83px;
  text-transform: uppercase;
}

.btn {
  color: #b09b7f !important;
  border: 2px solid #b09b7f !important;
  padding: 15px 30px !important;
  font-size: 14px !important;
  margin-left: 10px;
  margin-right: 10px;
  background: none !important;
}

.btn:hover {
  border: 2px solid white !important;
  color: white !important;
}

#feature {
  padding-top: 180px;
  padding-bottom: 100px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1300px;
}

.container::before {
  content: "";
  display: table;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::before {
  content: "";
  display: table;
}

h3.heading-style-3::after {
  content: "";
  width: 100px;
  height: 2px;
  display: inline-block;
  background-color: rgba(176, 155, 127, 0.3);
  margin-left: 30px;
  bottom: 12px;
  position: relative;
}

.mod-newsflash-adv__room_collection2 {
  padding-top: 50px;
}

.item_mudule.item.visible-fisrt,
.item.visible-fisrt {
  opacity: 100%;
}

.item_content {
 
  position: relative;
  margin-bottom: 0;
  
}

.item_content h5 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.desc {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #acb4b7;
}
.desc2{
  letter-spacing: 0em;
  padding-right:700px;
  padding-top: 20px;
  line-height: 26px;
  padding-bottom: 48px;
}
.btn.btn-info{
  padding: 15px 40px;
}
.imgright{
  position: absolute;
  right: 270px;
  top: 1290px;
}
.item_contentleft{
  position: relative;
  left: 0px;
  right: 20px !important;
  bottom: 300px;
}
.title1 .title11{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}
#maintop{
  padding-top: 50px;
padding-bottom: 160px;
}
.mod-newsflash-adv.mod-newsflash-adv__home_services1 .row .item {
  position: relative;
  margin-bottom: 100px;
}
.item_title .item_title__home_services1 .heading-style-5{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}
.h6, h6{
  font-size: 14px !important;
margin-bottom: 20px;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #acb4b7;
}
.mod-newsflash-adv.mod-newsflash-adv__home_services1 .row:nth-child(2n) .item .item_content {
  position: absolute;
  top: 15%;
  bottom: auto !important;
  left: 15px;
  right: auto; 
  background-color: #083647;
}
#mainbottom-4 {
  padding-top: 135px;
  padding-bottom: 100px;
}
.containerr {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  width: 100% !important;
  max-width: 1200px !important;
}
.col-sm-4 {
  width: 33.33333333%;
  float: left !important;
}
.moduletable.contact .moduleTitle {
  color: #b09b7f;
  font: 400 36px/45px 'Prata', serif;
}
.mod-article-single{
  margin-bottom: 48px;
}
.mod-article-single.mod-article-single__contact p {
  font: 500 14px/20px 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: -10px;
}
.mod-article-single.mod-article-single__contact p:nth-child(2n) a {
  color: #b09b7f;
}
.mod-article-single.mod-article-single__contact p a {
  color: #ffffff;
  text-decoration: none !important;
}
.moduletable.follow_us {
  padding-top: 50px;
}
.nav {
  color: white;
}
.mod-menu .nav li {
  width: 50px;
}
.moduletable.mail_us .moduleTitle {
  color: #b09b7f;
  font: 400 36px/45px 'Prata',serif;
  margin-bottom: 20px !important;
}
.mod_tm_ajax_contact_form .mod_tm_ajax_contact_form_message {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 0;
  z-index: -1;
  text-align: center;
  background: 50% 50% no-repeat transparent;
  transition: all .5s ease;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
.col-sm-6 {
  float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.mod_tm_ajax_contact_form .control {
  position: relative;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="times"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border: 1px solid #b09b7f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: block;
max-width: 100%;
height: 53px;
background: 0 0;
border: 1px solid #b09b7f;
color: #717171;
font-family: poppins,sans-serif;
font-size: 14px;
line-height: 24px;
padding: 14.5px 20px;
vertical-align: middle;
outline: none;
margin-bottom: 20px !important;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: border-color 1s ease,box-shadow 1s ease;
-o-transition: border-color 1s ease,box-shadow 1s ease;
transition: border-color 1s ease,box-shadow 1s ease;
-webkit-box-shadow: none;
box-shadow: none;
}
.col-sm-6 {
  width: 50%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-12 {
  width: 100%;
}
input, textarea {
  width: 100%;
}
.btn, .kbutton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 11px;
  line-height: 24px;
  vertical-align: middle;
  color: #b09b7f;
  background: 0 0;
      background-image: none;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid #b09b7f;
  letter-spacing: .1em;
  text-transform: uppercase;
  max-width: 100%;
  padding: 12.5px 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.moduletable.mail_us .control-group-button {
  text-align: right;
}
.moduletable.mail_us .control-group-button .btn {
  margin-right: 0;
}
#footer-wrapper {
  background-color: #031b24;
  width: 100%;
background-color: #031b24;
text-align: center;
padding-top: 55px;
}
.copyright {
  position: relative;
  text-align: center;
  margin-bottom: 48px;
  font: 400 14px/24px 'Poppins',sans-serif;
  color: #717171;
}
.logofoot{
width: 20%;
height: auto;
-webkit-transition: all .5s linear;
-o-transition: all .5s linear;
transition: all .5s linear;
}
.copyright {
  text-align: center;
  font: 400 14px/24px 'Poppins',sans-serif;
  color: #717171;
}
.copyright div + div::before {
  content: "|";
  position: relative;
  padding: 0 10px;
}
.copy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px
}
@media only screen and (max-width: 996px){
    .item_content{
      position: relative;
      right: 100px;
    }
}
/* .desc2 {
  padding-top: 20px;
  margin: 0px;
  padding: 0 0 48px ;
  padding-right: 500px;
  font-weight: 300;
} */

/*# sourceMappingURL=style.css.map */